<footer>
    <figcaption>&copy; 2020 HealthFlow – All rights reserved</figcaption>
    <a href="https://www.linkedin.com/company/healthflow/about/"><img src="./images/linkedin1.png" alt="linkedin"></a> 
</footer>