<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <section id="carousel">
        <div>
        <img src="./images/flow-banner.jpeg" alt="healthflow-banner" id="banner">
      </div>
    </section>
    <main>
        <p id="mission">HealthFlow Empowers Care Coordination and Outcomes Through Secure, Patient Centric Design</p>
        <section id="state">
            <div>
<h2>Current State:</h2>
Health data is scattered across electronic systems and locked in paper forms. This creates friction and leads to immense challenges for providers, systems, and most importantly <strong>patients</strong> to aggregate data into <strong>longitudinal patient record.</strong>
            
Getting to this longitudinal record is <strong>critical</strong> in the effort to <strong>improve care coordination and care outcomes</strong> at the patient level.
            
<h2>To address the friction in health data exchange HealthFlow:</h2>
</div>
<div>
<ul id="list-state">
<li>Aggregates data from disparate sources via standards-based and custom APIs/connectors to enable healthcare data interoperability</li> 
<li>Processes and enriches data in alignment with clinical standards</li>
<li>Packages and formats data for easy, secure exchange across entities</li>
<li>Tracks exchange details and consent</li>
</ul>
</div>
        </section>
<section id='third-paragraph'>
    <strong>HealthFlow</strong> provides the foundation for the <strong>patient-specific</strong> longitudinal record. Empowering patients through Blockchain-enabled secure data exchanges that are Patient-driven. 
    Underlying these capabilities, HealthFlow incorporates <strong>Distributed Ledger Technology (DLT) and Smart Contracts</strong> to enable resilient and reliable <strong>self-sovereign identity and consent management</strong> for every patient in the HealthFlow system.
</section>
<section id="information">
    <article>
        <img src="./images/venn.png" alt="venn diagram">
        <h3>Intelligent Integration as a Service</h2>
        <p>Combining advanced tooling with Natural Language Processing and Machine Learning (NLP/ML), the HealthFlow platform accelerates on-boarding of new partners and data sources, as well as management of change, through enhanced context discovery and automated information mapping, drastically improving accuracy of the data exchanged and reducing time to value.</p>
    </article>    
    <article>
        <img src="./images/drone-icon.png" alt="drone">
        <h3>Built For Secure Fully Auditable Exchange</h2>
        <p>Active HIPAA and GDPR-compliant design is core to the HealthFlow platform
            Advanced cryptographic protocols ensure that data is encrypted in transit and at rest
            Native distributed ledger technology provides an immutable record of all data sharing requests (approved and denied) and actively demonstrates the payload was delivered intact
            Privacy preserving machine learning techniques such as fully homomorphic encryption and secure multi-part computation provides enhanced value and security when dealing with competitive collaborators</p>
    </article> 
    <article>
        <img src="./images/atom-icon.png" alt="atom">
        <h3>Complete Patient Visibility and Empowerment</h3>
        <p>HealthFlow was founded to support data transparency, enable patient engagement, and ultimately empower patients to take ownership of their own healthcare. We believe this is the only way to drive value based delivery and ultimately improve outcomes.

            By aggregating data from the never-ending array of sources, processing it to increase value and align with standards, and packaging it for secure healthcare data interoperability information exchange, HealthFlow provides the foundation for achieving a patient-specific longitudinal record.</p>
    </article>    
    </section>
<section id="bottom">
    <div>
        <h4>Connect with us</h4>
        <button>Connect</button>
    </div>
    <div>
        <h4>Want More Info?</h4>
        <a href="https://healthflow.io/wp-content/uploads/2019/05/Flyer_HIMSS_2019-v03.pdf"><img src="./images/flyer.png" alt="flyer"></a>
    </div>
</section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
<script src="./js/jquery.js"></script>
<script src="./js/app.js"></script>
</html>